<!-- <h1>StaticPages#about</h1>
<p>Find me in app/views/static_pages/about.html.erb</p> -->
<br>
<h1>All about Bike Tampa</h1>
<p>Bike Tampa started as a dream to bring the joy of bicycling to the citizens of Tampa who are located in the Westchase area.</p>
<p>Please feel free to drop buy our store to browse our inventory of bicycles and bicycle accessories!</p>
<p>We also host weekly group rides and workshops to demonstrate how to properly maintain your bicycle.</p>
