<h1>All about Bike Tampa</h1>
	<div class="content">
		<div class="about">
			<p>Bike Tampa started as a dream to bring the joy of bicycling to the citizens of Tampa who are located in the Westchase area. We are committed to providing outstanding service to both our online and in-store customers. Please feel free to drop buy our location to browse our inventory of bicycles and bicycle accessories!</p>
			<p>We also host weekly group rides and workshops to demonstrate how to properly maintain your bicycle.</p>
		</div>
	</div>
