<!-- <h1>StaticPages#contact</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p> -->

<h1>Contact Bike Tampa</h1>
<p>Please email us at jfmatthews90@gmail.com for all your biking needs and inquiries.</p>
