<!-- New dynamic landing page to replace static index.html.erb page -->

<h3>Bike of the Month</h3>
<br>
<h4><%= @featured_product.name %></h4>
<%= image_tag @featured_product.image_url %>
<p><%= @featured_product.description %></p>
<p><%= @featured_product.price %></p>