// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
	padding-top: 55px;
	background-color: #eee;
	font-family: Helvetica;
	padding-bottom: 50px;
}

.content  {
	width: 80%;
	margin: auto;
}

footer {
	z-index: 5000;
	position: fixed; 
	bottom: 0px;
	width: 100%;
	text-align: center;
	color: #9d9d9d;
	background-color: #222;
}

.product-overview {
	height: 500px;
}

.nav>li {
	letter-spacing: .15em;
}

.nav>li>a:hover {
	text-decoration: underline;
}

h1 {
	text-align: center;
	margin: 2.5em auto 1.5em auto;
	font-family: Georgia;
}

h3 {
	font-family: Georgia;
	text-align: center;
	color: black;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.contact-form,
.about {
	width: 60%;
	margin: auto;
}

.send-button {
	text-align: right;
}
