// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
	background-color: #eee;
	font-family: Helvetica;
}

.content  {
	width: 80%;
	margin: auto;
}

.nav>li {
	letter-spacing: .15em;
}

.nav>li>a:hover {
	text-decoration: underline;
}

h1 {
	text-align: center;
	margin-top: 2.5em;
	font-family: Georgia;
}

h3 {
	font-family: Georgia;
	text-align: center;
}

footer {
	width: 100%;
	text-align: center;
	background-color: orange;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.product-flyer {
	margin: auto;
}
